<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.piecelabel.js/build/Chart.PieceLabel.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css')}}">
        
    <title>Admin - Incorporating Predictive Analytics on Student Assessment System</title>
</head>
<body  onload="predictadmin('STEM-12-7.csv','None'); opencsv('/dataset/STEM-12-7.csv');">
	<nav class="navbar navbar-default navbar-admin"><span class="navbar-title">Incorporating Predictive Analytics on Student Assessment System</span><a href="/" class="logout-link">Logout <i class="glyphicon glyphicon-log-in log-icon"></i></a></nav>
	<div class="sidenav">
		<div class="profile-image">
			<center><img src="{{ url_for('static', filename='images/profile.png')}}"></center>
		</div>
		<div class="profile-info">
			<h4>Maria Andallo</h4>
			<h5>Principal</h5>
		</div>
		<ul class="dropdown-container">
		    <li class="active clicked"><a data-toggle="tab" href="#home" onclick="predictadmin('STEM-12-7.csv','None'); opencsv('/dataset/STEM-12-7.csv');">STEM 12-7</a></li>
		    <li><a data-toggle="tab" href="#home" onclick="predictadmin('STEM-12-13.csv','None'); opencsv('/dataset/STEM-12-13.csv');">STEM 12-13</a></li>
		    <li><a data-toggle="tab" href="#home" onclick="predictadmin('STEM-12-15.csv','None'); opencsv('/dataset/STEM-12-15.csv');">STEM 12-15</a></li>
		    <li><a data-toggle="tab" href="#home" onclick="predictadmin('GAS-12-3.csv','None'); opencsv('/dataset/GAS-12-3.csv');">GAS 12-3</a></li>
		    <li><a data-toggle="tab" href="#home" onclick="predictadmin('GAS-12-6.csv','None');opencsv('/dataset/GAS-12-6.csv');">GAS 12-6</a></li>
		    <li><a data-toggle="tab" href="#home" onclick="predictadmin('GAS-12-8.csv','None'); opencsv('/dataset/GAS-12-8.csv');">GAS 12-8</a></li>
		</ul>
	</div>
	<div id="home" class="row content-user">
		<ul class="col-md-offset-2 nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#results">Results</a></li>
		    <li><a data-toggle="tab" href="#menu3">Top Rankings</a></li>
		    <li><a data-toggle="tab" href="#menu4">Chart</a></li>
		    <li><a data-toggle="tab" href="#menu1">Input</a></li>
		    <li><a data-toggle="tab" href="#menu2">Input Table</a></li>

		</ul>

		<div class="col-md-offset-2 tab-content" >
			<div id="menu4" class="tab-pane fade">
				<center>
						<br>
						<canvas id="learningChart" height="130px" />
				</center>
		    </div>
		    <div id="menu3" class="tab-pane fade">
				<center>
						<br><br>
						<div class="list-table">
							<table id="toptable" class="tablesorter">
							</table>
						</div>
				</center>
		    </div>	
		    <div id="menu1" class="tab-pane fade">					
					<div class="col-md-12">
						<div class="form-group">
						    <br>
							<input type="file" name="openFile" id="openFileadmin" class="form-control" accept=".csv,.xlsx">		
						</div>
					</div>
					<form method="get">
						  <div class="col-md-4">
						  	  <div class="form-group">
						        <label>Student Name:</label>
						          <input type="text" name="studName" id="studName" placeholder="SURNAME FIRST NAME MIDDLE NAME" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Grade:</label>
						          <input type="text" name="grade" id="grade" placeholder="GRADE" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Family Size:</label>
						          <input type="text" name="famSize" id="famSize" placeholder="FAMILY SIZE" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Parent Status:</label>
						          <input type="text" name="parentStatus" id="parentStatus" placeholder="PARENT STATUS" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Mother's Education:</label>
						          <input type="text" name="mEdu" id="mEdu" placeholder="MOTHER'S EDUCATION" class="form-control">
						      </div>
						  </div>
					      <div class="col-md-4">
						  	  <div class="form-group">
						        <label>Father's Education:</label>
						          <input type="text" name="fEdu" id="fEdu" placeholder="FATHER'S EDUCATION" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Mother's Job:</label>
						          <input type="text" name="mJob" id="mJob" placeholder="MOTHER'S JOB" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Father's Job:</label>
						          <input type="text" name="fJob" id="fJob" placeholder="FATHER'S JOB" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Failures:</label>
						          <input type="text" name="failures" id="failures" placeholder="FAILURES" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Family Supplies:</label>
						          <input type="text" name="famSup" id="famSup" placeholder="FAMILY SUPPLIES" class="form-control">
						      </div>
						  </div>
						  <div class="col-md-4">
						  	  <div class="form-group">
						        <label>Activities:</label>
						          <input type="text" name="activities" id="activities" placeholder="ACTIVITIES" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Internet:</label>
						          <input type="text" name="internet" id="internet" placeholder="Internet" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Health:</label>
						          <input type="text" name="health" id="health" placeholder="HEALTH" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Absences:</label>
						          <input type="text" name="absences" id="absences" placeholder="ABSENCES" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>G1:</label>
						          <input type="text" name="g1" id="g1" placeholder="G1" class="form-control">
						      </div>
						  </div>
					</form>
					<div class="col-md-12">
						<button class="btn btn-primary btn-predict" id="predictadmin">Predict</button>
					</div>
					
		    </div>
		    <div id="menu2" class="tab-pane fade">
		      <div>
					<center>
						<br><br>
						<div class="list-table" >
							<table id="inputTable"></table>
						</div>
					</center>
				</div>
		    </div>
		    <div id="results" class="tab-pane fade in active">
		      <center>
						<br><br>
						<div class="list-table">
							<table id="resultstable">
							</table>
						</div>
			  </center>
		    </div>
		</div>
		
	</div>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script> 
</body>