<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.piecelabel.js/build/Chart.PieceLabel.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css')}}">
        
    <title>Admin - Incorporating Predictive Analysis on Student Assessment System</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-admin"><span class="navbar-title">Incorporating Predictive Analysis on Student Assessment System</span><a href="/" class="logout-link">Logout <i class="glyphicon glyphicon-log-in log-icon"></i></a></nav>
	<div class="sidenav">
		<div class="profile-image">
			<center><img src="{{ url_for('static', filename='images/profile.png')}}"></center>
		</div>
		<div class="profile-info">
			<h4>Maria Andallo</h4>
			<h5>Principal</h5>
		</div>
		<button class="dropdown-btn">STEM 		    
			<i class="glyphicon glyphicon-menu-down" style="font-size: 10px; padding: 2px; "></i>
		</button>
		<div class="dropdown-container">
		    <a href="#">Section 1</a>
		    <a href="#">Section 2</a>
		    <a href="#">Section 3</a>
		</div>
		<button class="dropdown-btn">GAS 		    
			<i class="glyphicon glyphicon-menu-down" style="font-size: 10px; padding: 2px; "></i>
		</button>
		<div class="dropdown-container">
		    <a href="#">Section 1</a>
		    <a href="#">Section 2</a>
		    <a href="#">Section 3</a>
		</div>
	</div>
	<div class="row content-user">
		<div class="col-md-offset-2 col-md-7">
			<input type="file" name="openFile" id="openFile" class="form-control" accept=".csv">
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-predict" id="predictadmin">Predict</button>	
		</div>
		<div class="col-md-offset-2 col-md-4">
			<center>
				<h3>LEARNING PERFORMANCE</h3>
				<canvas id="learningChart" height="320px" />
						
			</center>
		</div>
		
		<div class="col-md-offset-1 col-md-5">
			<center>
				<h3>LIST OF STUDENTS</h3>
				<div class="list-table-admin">
					<table id="resultstable">
					</table>
				</div>
				
			</center>
		</div>
	</div>
	<!-- Modal -->
	<div id="detailsModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><center><h4>ANALYSIS OF FAILING AND PASSING STUDENTS</h4></center></h4>
	      </div>
	      <div class="modal-body">
	        <center>
				<canvas id="lineChart" height="200px" width=400px"></canvas>
			</center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
	<!-- Modal -->
	<div id="tableModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><center><h4>STATUS OF STUDENTS</h4></center></h4>
	      </div>
	      <div class="modal-body">
	        	<center>
				<div class="list-table list-table-admin">
					<table>
					  <tr>
					    <th>Name</th>
					    <th>Gender</th>
					    <th>First Quarter</th>
					    <th>Second Quarter</th>
					    <th>First Semester Grade</th>
					    <th>Remark</th>
					  </tr>
					  <tr>
					    <td>Libuna Jr., Samuel Gasendo</td>
					    <td>Male</td>
					    <td>85</td>
					    <td>92</td>
					    <td>89</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					    <td>Estigoy, Angelica Melendez</td>
					    <td>Female</td>
					    <td>88</td>
					    <td>90</td>
					    <td>89</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					    <td>Galpao, Jessiele Blancada</td>
					    <td>Female</td>
					    <td>89</td>	
					    <td>88</td>
					    <td>89</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					    <td>Hipolito, Shaira Mae Magugat</td>
					    <td>Female</td>
					    <td>88</td>
					    <td>89</td>
					    <td>89</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					    <td>Lemoncito, Jenese Messiah Granada</td>
					    <td>Female</td>
					    <td>89</td>
					    <td>88</td>
					    <td>89</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					    <td>Crisol, Katrina Paula Grajo</td>
					    <td>Female</td>
					    <td>86</td>
					    <td>89</td>
					    <td>88</td>
					    <td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Emia, Margie Navales</td>
					  	<td>Female</td>
					  	<td>87</td>
					  	<td>88</td>
					  	<td>88</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Lacambra, Erica Olayon</td>
					  	<td>Female</td>
					  	<td>88</td>
					  	<td>88</td>
					  	<td>88</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Ibarbia. Celina Yvonne</td>
					  	<td>Female</td>
					  	<td>87</td>
					  	<td>86</td>
					  	<td>87</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Baquero, Stephanie Rhey Malto</td>
					  	<td>Male</td>
					  	<td>85</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td></td>
					  </tr>
					  <tr>
					  	<td>Franco, Patrick Eugene Benipayo</td>
					  	<td>Male</td>
					  	<td>87</td>
					  	<td>84</td>
					  	<td>86</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Abalos, Buen Jocel Del Campo</td>
					  	<td>Female</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Breis, Danilyn Neira</td>
					  	<td>Female</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>Passed</td>
					  </tr>
					  <tr>
					  	<td>Cairo, Jane Rizzlyn Vargas</td>
					  	<td>Female</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>86</td>
					  	<td>Passed</td>
					  </tr>
					</table>
			</center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>	
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script> 
</body>