<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/papaparse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/chart.piecelabel.js/build/Chart.PieceLabel.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css')}}">

    <title>Faculty - Incorporating Predictive Analytics on Student Assessment System</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-admin"><span class="navbar-title">Incorporating Predictive Analytics on Student Assessment System</span><a href="/" class="logout-link">Logout <i class="glyphicon glyphicon-log-in log-icon"></i></a></nav>
	<div class="sidenav">
		<div class="profile-image">
			<center><img src="{{ url_for('static', filename='images/profile.png')}}"></center>
		</div>
		<div class="profile-info">
			<h4>
				<span id="firstname" class="name">{{ fname }}</span>
				<span id="lastname">{{ lname }}</span>
			</h4>
			<h5>Faculty</h5>
		</div>
		<ul class="dropdown-container">
		    <li class="active clicked"><a data-toggle="tab" href="#home">STEM 12-7</a></li>
		    <li><a data-toggle="tab" href="#home">STEM 12-13</a></li>
		    <li><a data-toggle="tab" href="#home">STEM 12-15</a></li>
		    <li><a data-toggle="tab" href="#home">GAS 12-3</a></li>
		    <li><a data-toggle="tab" href="#home">GAS 12-6</a></li>
		    <li><a data-toggle="tab" href="#home">GAS 12-8</a></li>
		</ul>
	</div>
	<div id="home" class="row content-user">
		<ul class="col-md-offset-2 nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#file">Input File</a></li>
		    <li><a data-toggle="tab" href="#individual">Input Individual</a></li>
		    <li><a data-toggle="tab" href="#table">Input Table</a></li>
		    <li><a data-toggle="tab" href="#results">Results</a></li>
		    <li><a data-toggle="tab" href="#top">Top Rankings</a></li>
		</ul>

		<div class="col-md-offset-2 tab-content" >
			<div id="top" class="tab-pane fade">
				<center>
						<br><br>
						<div class="list-table">
							<table id="toptable" class="tablesorter">
							</table>
						</div>
				</center>
		    </div>
		    <div id="file" class="tab-pane fade in active">
				<center>
					<div class="col-md-12">
						<div class="form-group">
						    <br><br>
							<input type="file" name="openFile" id="openFile" class="form-control" accept=".csv,.xlsx">
						</div>
					<div class="col-md-6">
						<button class="btn btn-primary btn-predict" id="predict">Predict</button>
					</div>
					<div class="col-md-6">
						<button class="btn btn-danger btn-predict" id="clear">Clear</button>
					</div>
					</div>
				</center>
		    </div>
		    <div id="individual" class="tab-pane fade">
		    		<br><br>
					<form method="get">
						  <div class="col-md-offset-3 col-md-6">
						 	  <div class="form-group">
						       <label>Student Name:</label>
						          <input type="text" name="studName" id="studName" placeholder="SURNAME FIRST NAME MIDDLE NAME" class="form-control">
						      </div>
						      <div class="form-group">
						        <label>Midterm Grade:</label>
						          <input type="text" name="grade" id="grade" placeholder="MIDTERM GRADE" class="form-control">
						      </div>
						  	  <div class="form-group">
						        <label>Broken Family:</label>
						          <input type="number" name="brokenFam" id="brokenFam" min="0" max="5" class="form-control" placeholder="0">
						      </div>
						      <div class="form-group">
						        <label>Financial Difficulty:</label>
						          <input type="number" name="finDiff" id="finDiff" min="1" max="6" class="form-control" placeholder="0">
						      </div>
						      <div class="form-group">
						        <label>Study Habit:</label>
						          <input type="number" name="studyHabit" id="studyHabit" min="18" max="54" class="form-control" placeholder="0">
						      </div>

						  </div>
					      
					</form>
					<div class="col-md-6">
						<button class="btn btn-primary btn-predict" id="predictindividual">Predict</button>
					</div>
					<div class="col-md-6">
						<button class="btn btn-danger btn-predict" id="clearindividual">Clear</button>
					</div>

		    </div>
		    <div id="table" class="tab-pane fade">
		      <div>
					<center>
						<br><br>
						<div class="list-table" >
							<table id="inputTable"></table>
						</div>
					</center>
				</div>
		    </div>
		    <div id="results" class="tab-pane fade in active">
		      <center>
						<br><br>
						<div class="list-table">
							<table id="resultstable" class="tablesorter">
							</table>
						</div>
			  </center>
		    </div>
		</div>

	</div>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
