
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css')}}">
        
    <title>Login - Incorporating Predictive Analysis on Student Assessment System</title>
</head>
<body class="login-body">
  <nav class="navbar navbar-default"><center><h2>Incorporating Predictive Analysis on Student Assessment System</h2></center></nav>
  <div class="container-fluid">
    
    <form method="POST" action="/home" class="login-form">
      <div class="form-group">
        <label>User ID:</label>
          <input type="text" name="userId" id="userId" placeholder="User ID" class="form-control">
      </div>
      <div class="form-group">
        <label>Password:</label>
          <input type="password" name="password" id="password" placeholder="Password" class="form-control">
      </div>
      <input type="submit" name="login" value="Login" id="btnlogin" class="btn btn-primary btn-login" data-toggle="modal" data-target="#myModal">
      <br><br>
      <a href="/create">Create an Account</a>
      <br><br>
    </form>
     <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log in Error</h4>
          </div>
          <div class="modal-body">
            <p>{{ error }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script> 
</body>